.container {
    font-size: 0.6rem;

    p,
    span,
    h1 {
        font-family: 'Courier Prime', monospace;
    }

    strong {
        font-family: 'Courier Prime', monospace;
        font-weight: 900;
    }
}